* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: bb;
    src: url(fnt/TAHOMABD.TTF);
}

@font-face {
    font-family: mm;
    src: url(fnt/TAHOMAB0.TTF);
}

@font-face {
    font-family: rr;
    src: url(fnt/Tahoma\ Regular\ font.ttf);
}

@font-face {
    font-family: sb;
    src: url(fnt/TAHOMA_0.TTF);
}

:root {
    --background: #393A62;
    --background2: #F8F7FD;
    --waith: #fff;
    --box-shadow: 0 0 10px #e9e9e9;
    --man: #73797D;
}

body {
    background: var(--background2);
}

.parent {
    position: relative;
    background: var(--background);
    border-radius: 15px;
    width: 16%;
    min-height: 300vh;
    margin: 41px 20px;
    padding: 10px;
}

.container {
    position: absolute;
    z-index: 3;
    width: 90%;
    left: 50px;
    top: 40px;
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: 50px 0;
}

.sidebar {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 24%;
    background: var(--background2);
    /* min-height: 130vh; */
}

.main-content {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 76%;
    background: var(--waith);
    display: flex;
    flex-direction: column;
    min-height: 130vh;
    margin-bottom: 50px;
}


.main-content header {
    height: 3%;
    background: var(--waith);
    border-radius: 5px;
}

.container .main-content main .second {
    padding: 4px;
    display: flex;
}

.container .main-content main .third {
    display: flex;
}

.second>div {
    width: 20%;
    background: var(--waith);
    box-shadow: var(--box-shadow);
    border-radius: 1em;
    height: 100%;
    margin-left: 1%;
}

.third #left-third {
    padding: 4px;
    width: 90%;
    display: flex;
}

.third #left-third>div {
    width: 25%;
    background: var(--waith);
    box-shadow: var(--box-shadow);
    border-radius: 1em;
    height: 100%;
    margin-left: 1%;
}

.third #right-third {
    width: 20%;
    background: var(--background);
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    margin-left: 1%;
}

.slidbar-menu {
    padding: 60px 0;
}

.slidbar-menu ul li a {
    text-decoration: none;
}

.slidbar-menu ul li {
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 28px;
    margin-bottom: 32px;
}

.slidbar-menu ul li span {
    color: var(--man);
    font-size: 17px;
    font-family: rr;
}

.slidbar-menu ul li span:first-child {
    color: var(--background);
    font-size: 20px;
    font-family: rr;
}

.slidbar-titel svg {
    width: 15px;
    height: 50px;
}

.slidbar-brand {
    display: flex;
    column-gap: 30px;
}

.slidbar-brand div {
    padding-top: 5px;
}

.slidbar-brand div h2 {
    font-size: 26px;
    font-family: bb;
    padding-bottom: 10px;
}

.slidbar-brand div span {
    font-size: 15px;
    font-family: rr;
}
.sidebar {
    padding-left: 46px;
    padding-top: 68px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 40px;
}
.had-nav{
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.had-nav h1{
    font-size: 26px;
    font-family: bb;
}
.nav-cntant{
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.nav-cntant img{
    cursor: pointer;
}
.nav-dv{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
select{
    color: var(--man);
    font-size: 20px;
    font-family: rr;
    border: none;
    cursor: pointer;
}
.first-section{
    background: #F2F2F2;
    border-radius: 30px;
    width: 90%;
    margin: 50px auto;
    margin-top: 100px;
    padding: 30px 60px;
    transition: all .7s ease;
    display: block;
}
.section-itm{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    align-items: center;
}
.section-dv h2{
    font-size: 30px;
    font-family: sb;
    color: var(--background);
    margin-bottom: 35px;
}
.section-dv p{
    font-size: 20px;
    font-family: sb;
    color: var(--man);
    margin-bottom: 35px;
}
.section-dv img{
    width:379px;
    height: 253px;
}
.circle{
    color: var(--background);
    text-align: right;
    font-size: 30px;
    display: flex;
    justify-content: right;
    cursor: pointer;
}
.secund-section{
    background: #fff;
    border-radius: 30px;
    width: 90%;
    margin-top: 100px;
    padding: 30px 60px;
}
.section-hd{
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: space-between;
}
.section-hd h2{
    font-size: 30px;
    font-family: bb;
}
.small-section{
    margin-top: 40px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    column-gap: 15px;
}
.small-dv{
    padding: 30px 10px;
    box-shadow: 0 3px 6px #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    column-gap: 10px;
}
.small{
    padding: 30px 0;
    text-align: center;
    box-shadow: 0 3px 6px #ccc;
    height: 145px;
    width: 155px;
    border-radius: 15px;
}
.icon-box{
    box-shadow: 0 3px 6px #ccc;
    height: 65px;
    width: 65px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
}
.small-d{
    padding: 10px 35px;
    box-shadow: 0 3px 6px #ccc;
    border-radius: 15px;
    column-gap: 10px;
    height: 210px;
    width: 147px;
    background: var(--background);
}
.small-dv2 img.dts{
    display: flex;
    justify-content: right;
}
.c-img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-bottom: 20px;
}
.small-d h2{
    font-size: 18px;
    font-family: sb;
    color: #fff;
    text-align: center;
}
.third-section{
    border-radius: 30px;
    margin-top: 100px;
    padding: 30px 60px;
}
.small-dvs{
    padding: 30px 10px;
    box-shadow: 0 3px 6px #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    column-gap: 10px;
    width: 100%;
}
.small span{
    font-size: 15px;
    font-family: sb;
    color: var(--man);
}
.smalls{
    padding: 30px 0;
    text-align: center;
    box-shadow: 0 3px 6px #ccc;
    height: 180px;
    width: 200px;
    border-radius: 15px;
}
.dv1{
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.dv2{
    background-color: #F2F2F2;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    color: #393A62;
    padding: 5px;
    align-items: center;
    column-gap: 10px;
}
.dv2 h3{
    font-size: 15px;
    font-family: rr;
}
.dv1 h3{
    color: var(--man);
    font-family: sb;
}
.forth-section{
    border-radius: 30px;
    margin-top: 100px;
    padding: 30px 60px;
}
.ssection-clm{
    margin-top: 30px;
    display: flex;
    column-gap: 120px;
}
.three-had{
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 50px;
}
.three-had h2{
    font-size: 22px;
    font-family: sb;
}
.three-clm h4{
    margin-bottom: 60px;
    font-size: 15px;
    font-family: rr;
}
.s-clm{
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #107E14;
}
.s-clm img{
    margin-top: -60px;
}
.s-clms{
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #E32525;
}
.s-clms img{
    margin-top: -60px;
}